# Eksploracyjna analiza danych

## Warsztaty badawcze - Kamien milowy 1

### Borowski Mateusz, Krężel Jan, Kraszewski Konstanty

UNSW-NB15

Opis: Przetworzone dane ruchu sieciowego, podczas zwykłego użycia i 9 różnych 
typu ataków sieciowych. Ok 250 tyś. wierszy.
Sugerowane zadanie: 
- detekcja ataku


[Link do danych](https://research.unsw.edu.au/projects/unsw-nb15-dataset)

In [1]:
import pandas as pd

In [2]:
df_test = pd.read_csv('data/UNSW_NB15_testing-set.csv')
df_train = pd.read_csv('data/UNSW_NB15_training-set.csv')

In [6]:
df_train.head()

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.000011,udp,-,INT,2,0,496,0,90909.0902,...,1,2,0,0,0,1,2,0,Normal,0
1,2,0.000008,udp,-,INT,2,0,1762,0,125000.0003,...,1,2,0,0,0,1,2,0,Normal,0
2,3,0.000005,udp,-,INT,2,0,1068,0,200000.0051,...,1,3,0,0,0,1,3,0,Normal,0
3,4,0.000006,udp,-,INT,2,0,900,0,166666.6608,...,1,3,0,0,0,2,3,0,Normal,0
4,5,0.000010,udp,-,INT,2,0,2126,0,100000.0025,...,1,3,0,0,0,2,3,0,Normal,0

In [8]:
df_test.head()

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.121478,tcp,-,FIN,6,4,258,172,74.087490,...,1,1,0,0,0,1,1,0,Normal,0
1,2,0.649902,tcp,-,FIN,14,38,734,42014,78.473372,...,1,2,0,0,0,1,6,0,Normal,0
2,3,1.623129,tcp,-,FIN,8,16,364,13186,14.170161,...,1,3,0,0,0,2,6,0,Normal,0
3,4,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,...,1,3,1,1,0,2,1,0,Normal,0
4,5,0.449454,tcp,-,FIN,10,6,534,268,33.373826,...,1,40,0,0,0,2,39,0,Normal,0

In [11]:
print(f"Zbiór treningowy:     {df_train.shape}")
print(f"Zbiór testowy:        {df_test.shape}")

Zbiór treningowy:     (82332, 45)
Zbiór testowy:        (175341, 45)

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82332 entries, 0 to 82331
Data columns (total 45 columns):
id                   82332 non-null int64
dur                  82332 non-null float64
proto                82332 non-null object
service              82332 non-null object
state                82332 non-null object
spkts                82332 non-null int64
dpkts                82332 non-null int64
sbytes               82332 non-null int64
dbytes               82332 non-null int64
rate                 82332 non-null float64
sttl                 82332 non-null int64
dttl                 82332 non-null int64
sload                82332 non-null float64
dload                82332 non-null float64
sloss                82332 non-null int64
dloss                82332 non-null int64
sinpkt               82332 non-null float64
dinpkt               82332 non-null float64
sjit                 82332 non-null float64
djit                 82332 non-null float64
swin                 82332 non-null int64
stcpb                82332 non-null int64
dtcpb                82332 non-null int64
dwin                 82332 non-null int64
tcprtt               82332 non-null float64
synack               82332 non-null float64
ackdat               82332 non-null float64
smean                82332 non-null int64
dmean                82332 non-null int64
trans_depth          82332 non-null int64
response_body_len    82332 non-null int64
ct_srv_src           82332 non-null int64
ct_state_ttl         82332 non-null int64
ct_dst_ltm           82332 non-null int64
ct_src_dport_ltm     82332 non-null int64
ct_dst_sport_ltm     82332 non-null int64
ct_dst_src_ltm       82332 non-null int64
is_ftp_login         82332 non-null int64
ct_ftp_cmd           82332 non-null int64
ct_flw_http_mthd     82332 non-null int64
ct_src_ltm           82332 non-null int64
ct_srv_dst           82332 non-null int64
is_sm_ips_ports      82332 non-null int64
attack_cat           82332 non-null object
label                82332 non-null int64
dtypes: float64(11), int64(30), object(4)
memory usage: 28.3+ MB